*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0c0c077;
  border-radius: 10px;
  border: 0px solid #ffffff;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body { margin: 0; }

@layer base {
  html {
    font-family: Poppins, Montserrat, sans-serif;
  }
}

